body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 80px auto 0; }
  .container .box {
    position: relative;
    width: calc(300px - 30px);
    height: calc(400px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); }
    .container .box:before, .container .box:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      box-sizing: border-box;
      transition: 0.5s;
      transform: scaleX(0);
      opacity: 0;
      z-index: 1; }
    .container .box:after {
      border-top: 0;
      border-bottom: 0;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: scaleY(0);
      transform-origin: 0 0; }
    .container .box .imgBox {
      position: relative; }
      .container .box .imgBox img {
        width: 100%;
        transition: 0.5s; }
    .container .box .content {
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 0;
      left: 0;
      color: #262626;
      background: #fff;
      text-align: center;
      z-index: 4;
      box-sizing: border-box;
      border-radius: 0 0 15px 15px;
      transition: 0.5s;
      transform: translateY(50px);
      visibility: hidden;
      opacity: 0;
      padding: 5px; }
      .container .box .content h2, .container .box .content p {
        margin: 0;
        color: #262626; }
    .container .box .social-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      display: flex;
      margin: 0;
      padding: 0; }
      .container .box .social-icon li {
        list-style: none; }
        .container .box .social-icon li a {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #fff;
          margin: 0 3px;
          border-radius: 50%;
          transition: 0.5s;
          transform: translateY(200px);
          opacity: 0; }
          .container .box .social-icon li a .fa {
            line-height: 40px;
            transition: 0.5s;
            color: #262626; }
      .container .box .social-icon li:hover .fa {
        transform: rotateY(360deg); }
      .container .box .social-icon li:hover:nth-child(1) .fa {
        color: #3b5999; }
      .container .box .social-icon li:hover:nth-child(2) .fa {
        color: #55acee; }
      .container .box .social-icon li:hover:nth-child(3) .fa {
        color: #dd4b39; }
      .container .box .social-icon li:hover:nth-child(4) .fa {
        color: #0077B5; }
      .container .box .social-icon li:hover:nth-child(5) .fa {
        color: #e4405f; }
  .container .box:hover:before {
    transform: scaleX(1);
    opacity: 1; }
  .container .box:hover:after {
    transition-delay: 0.5s;
    transform: scaleX(1);
    opacity: 1; }
  .container .box:hover .imgBox img {
    opacity: 0.5;
    transform: translateY(-50px); }
  .container .box:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.2s; }
  .container .box:hover .social-icon li a {
    opacity: 1;
    transform: translateY(0px); }
  .container .box:hover .social-icon li:nth-child(1) a {
    transition-delay: 0s; }
  .container .box:hover .social-icon li:nth-child(2) a {
    transition-delay: 0.1s; }
  .container .box:hover .social-icon li:nth-child(3) a {
    transition-delay: 0.2s; }
  .container .box:hover .social-icon li:nth-child(4) a {
    transition-delay: 0.3s; }
  .container .box:hover .social-icon li:nth-child(5) a {
    transition-delay: 0.4s; }

.clearFix {
  clear: both; }

@media (max-width: 1200px) {
  .container {
    position: relative;
    width: 900px;
    height: auto;
    margin: 80px auto 80px; }
    .container .box {
      width: calc(300px - 30px);
      height: calc(400px - 30px); } }
@media (max-width: 800px) {
  .container {
    position: relative;
    width: 600px;
    height: auto;
    margin: 80px auto 80px; }
    .container .box {
      width: calc(300px - 30px);
      height: calc(400px - 30px); } }
@media (max-width: 600px) {
  .container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 80px auto 80px; }
    .container .box {
      width: calc(300px - 30px);
      height: calc(400px - 30px);
      margin: 15px auto;
      float: none; } }

/*# sourceMappingURL=style.css.map */
