body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	position: relative;
	width: 1200px;
	height: 600px;
	margin: 80px auto 0;

	.box{
		position: relative;
		width: calc(300px - 30px);
		height: calc(400px - 30px);
		background: #000;
		float: left;
		margin: 15px;
		box-sizing: border-box;
		overflow: hidden;
		border-radius: 15px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, .8);

		&:before, &:after{
			content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			box-sizing: border-box;
			transition: 0.5s;
			transform: scaleX(0);
			opacity: 0;
			z-index: 1;

		}

		&:after{
			border-top: 0;
			border-bottom: 0;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			transform: scaleY(0);
			transform-origin: 0 0;
		}

		.imgBox{
			position: relative;
		
			img {
				width: 100%;
				transition: 0.5s;
			}
		}

		.content{
			position: absolute;
			width: 100%;
			height: 60px;
			bottom: 0;
			left: 0;
			color: #262626;
			background: #fff;
			text-align: center;
			z-index: 4;
			box-sizing: border-box;
			border-radius: 0 0 15px 15px;
			transition: 0.5s;
			transform: translateY(50px);
			visibility: hidden;
			opacity: 0;
			padding: 5px;

			h2, p{
				margin: 0;
				color: #262626;
			}

		}

		.social-icon {
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			display: flex;
			margin: 0;
			padding: 0;

			li {
				list-style: none;

				a {
					position: relative;
					display: block;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background: #fff;
					
					margin: 0 3px;
					border-radius: 50%;
					transition: 0.5s;
					transform: translateY(200px);
					opacity: 0;

					.fa {
						line-height: 40px;
						transition: 0.5s;
						color: #262626;
					}
				}
			}

			li:hover {

				.fa{
					transform: rotateY(360deg);
				}

				&:nth-child(1){
					.fa{
						color: #3b5999;
					}
				}

				&:nth-child(2){
					.fa{
						color: #55acee;
					}
				}

				&:nth-child(3){
					.fa{
						color: #dd4b39;
					}
				}

				&:nth-child(4){
					.fa{
						color: #0077B5;
					}
				}

				&:nth-child(5){
					.fa{
						color: #e4405f;
					}
				}

				
			}

		}
	}

	.box:hover{
		&:before{
			transform: scaleX(1);
			opacity: 1;
		}

		&:after{
			transition-delay: 0.5s;
			transform: scaleX(1);
			opacity: 1;
		}

		.imgBox{
			img{
				opacity: 0.5;
				transform: translateY(-50px);
			}
		}

		.content{
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition-delay: 0.2s;
		}

		.social-icon{
			li{
				a{
					opacity: 1;
					transform: translateY(0px);
				}
			}

			li:nth-child(1){
				a {
					transition-delay: 0s;
				}
			}

			li:nth-child(2){
				a {
					transition-delay: 0.1s;
				}
			}

			li:nth-child(3){
				a {
					transition-delay: 0.2s;
				}
			}

			li:nth-child(4){
				a {
					transition-delay: 0.3s;
				}
			}

			li:nth-child(5){
				a {
					transition-delay: 0.4s;
				}
			}
			
		}
	}
}

.clearFix{
	clear:both;
}

$breakpoint-tablet-L: 1200px;
$breakpoint-tablet-P: 800px;
$breakpoint-mobile-P: 600px;

@media (max-width: $breakpoint-tablet-L) {
	.container {
		position: relative;
		width: 900px;
		height: auto;
		margin: 80px auto 80px;

		.box{
			width: calc(300px - 30px);
			height: calc(400px - 30px);
		}
	}
	
}

@media (max-width: $breakpoint-tablet-P) {
	.container {
		position: relative;
		width: 600px;
		height: auto;
		margin: 80px auto 80px;

		.box{
			width: calc(300px - 30px);
			height: calc(400px - 30px);
		}
	}
	
}

@media (max-width: $breakpoint-mobile-P) {
	.container {
		position: relative;
		width: 100%;
		height: auto;
		margin: 80px auto 80px;

		.box{
			width: calc(300px - 30px);
			height: calc(400px - 30px);
			margin: 15px auto;
			float: none;
		}
	}
	
}




